# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# PyCharm
# ==========================

.idea/

# ==========================
# Testing
# ==========================

.pytest_cache/
.coverage
htmlcov/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Database Files
# ==========================

*.db
*.sqlite3

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Build Files
# ==========================

build/
dist/
*.egg-info/

# ==========================
# Alembic
# ==========================

alembic/versions/__pycache__/